services:
  # Backend + Frontend
  - type: web
    name: maceta-iot
    env: node
    region: oregon
    plan: free
    buildCommand: "chmod +x render-build.sh && ./render-build.sh"
    startCommand: "NODE_ENV=production node backend/server.js"
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_ANON_KEY
        sync: false
